.contact-container{
    background-color: #000;
    min-height: 100dvh;
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container h1{
    margin: 0;
    font-family: 'theme-font';
    text-align: center;
    font-size: 40px;
}
.contact-container p{
    color: #E890B1;
   font-family: Arial black, Helvetica, sans-serif;
    text-align: center;
    width: 50%;
 
}
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial Black, Helvetica, sans-serif;
    padding: 30px;
    font-size: 20px;
width: 45%;

}
.contact-form label{
    margin-bottom: 2px;
}
.contact-form  input{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 5px;
    outline: none;
    border: none;
}
.contact-textbox{
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.contact-form  button{
    margin: 15px 0;
    width: 130px;
    padding: 15px;
 background-color: transparent;
 color: #fff;
border: 2px solid #fff;
border-radius: 30px;
font-family: Arial Black, Helvetica, sans-serif;
transition: all 1s ease-in-out;
}
.contact-form  button:hover{
    color: black;
    background-color: #fff;

}
/* Responsive Code */
@media only screen and (max-width: 900px) {
    .contact-form form{
        width: 70%;
    }

}
@media only screen and (max-width: 600px) {
    .contact-container h1{

        font-size: 30px;
    }
    .contact-container p{
        font-size: 10px;
    }
    .contact-form form{
        font-size: 15px;
    }
    .contact-form  button{
        padding: 10px;
    }
       
}
 
