  .hero-web{
    width: 100%;
    height: 100%;
  }
  .hero-mobile{
    width: 100%;
    height: 100%;
  }
/* Responsive Code */
@media only screen and (min-width: 800px) {
  .hero-mobile{
    display: none;
  }
  }
  @media only screen and (max-width: 799px) {
    .hero-web{
      display: none;
    }
    }
