 @font-face {
  font-family: theme-font;
  src: url('../assets/AbrilFatface-Regular.ttf');
 }
 
 
 .hero-web{
    width: 100%;
    height: 100%;
  }
  .hero-mobile{
    width: 100%;
    height: 100%;
  }
/* Responsive Code */
@media only screen and (min-width: 800px) {
  .hero-mobile{
    display: none;
  }
  }
  @media only screen and (max-width: 799px) {
    .hero-web{
      display: none;
    }
    }

    /* Slider Styles */
    .slider-container{
      display: flex;
     flex-direction: column;
     align-items: center;
     width: 50dvh;
    }
    .slider-dots{
      margin: 10px 6px;
    }
    .slider-container img {
width: 70%;
    }
    
    /* Amazon Section */

    .amazon-section{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 80px;
    }
    .amazon-link{
      display: block;
      width: 50%;
      align-self: center;
    }
    .reviews-img{
      width: 100%;
    
    }
.store-link{
  color: black;
  transition: all 1s ease-in-out;
}
.store-link:hover{
  color: #97699E;
  scale: 0.1
  ;
}
    @media only screen and (max-width: 800px) {
      .amazon-section{
        flex-direction: column;
      }
      .slider-container{
        align-self: center;
      }
      .reviews-img{
      display: none;
      }
      }
      .amazon-text{
        font-family: 'theme-font';
        font-size: 60px;
        text-align: center;
        margin:50px;
      
      }
      /* About Section */
      .about{
        padding: 50px;
        background-color: #97699E;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      }
      .about p{
        color: #fff;
        margin: 20px;
        width: 80%;
        text-align: left;
        font-family: Arial Black, Helvetica, sans-serif;
      }
      @media only screen and (max-width: 1000px) {

        .about{
          flex-direction: column;
        }
        .about p{
          text-align: center;
        }
        .about p{
          width: 90%;
        }

      }
      @media only screen and (max-width: 400px) {
        .amazon-text{
          font-size: 30px;
        }

      }
      .event-section{
        font-family: 'theme-font';
        color:#E890B1;
        padding: 50px;
        margin: 0 auto;
        font-size: 40px;
        background-color: #E9E7E0;
      }
      @media only screen and (max-width: 600px) {

        .event-section{
          font-size: 20px;
        }
      }