html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
    background-color: var(--theme-color);
}
.navigation{
 width: 100%;
  color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation h1{
    font-family: 'theme-font';
    margin: 0;
    padding: 10px;
}
.group{
    padding: 10px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.group a{
    background-color: var(--text-color);
    padding: 15px;
    font-size: 14px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 6ms ease-in-out;
}
.group a:hover{
background-color: var(--theme-color);
color: var(--text-color);
border: 1px solid var(--text-color);
}

.nav{
    position: relative;
    display: none;
}
.nav-active{
    position: relative;
    animation: menu 3s 1;
    transition: all 3s ease-in-out;
    background-color: var(--theme-color);
}
.nav-links{
    display: flex;
    flex-direction: column;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color);
padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid var(--text-color);
}

@keyframes menu {
  0%{
    top: -10px;
}
    100%{
        top: 0;
    }
  }
    
  /* Resonsive Code*/

  @media only screen 
and (max-width : 600px) {
	.group a{
        display: none;
    }

}