html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.navigation{
    position: fixed;
}
.nav{
    display: none;
}
.hamburger-container{
    position: relative;
    z-index: 15;
    margin: 20px;
}
.nav-active{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
font-family: Arial Black, Helvetica, sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
z-index: 10;
}
.nav-links{
text-align: center;
}
.nav-link{
    display: block;
    text-decoration: none;
    margin: 10px;
    color: #fff;
    font-size: 60px;
}
/* Responsive Code */

@media (max-height: 300px) {
    .nav-link{
        font-size: 30px;
    }
  }
  @media (max-width: 300px) {
    .nav-link{
        font-size: 30px;
    }
  }
  @media (max-width: 600px) {
    .hamburger-container{
        margin: 0;
    }

  }